.hero {
   background-image: url(https://devravimori.github.io/image-search-engine-using-unsplash-api/static/media/search%20background2.462a831e35e2132e9e78.jpg);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover;
}